body{
    margin:0;
    padding:30px;
    background:#eef2f5;
    font-family:Arial,sans-serif;
}

h1{
    text-align:center;
}

.card{
    background:white;
    max-width:500px;
    margin:auto;
    border-radius:12px;
    padding:25px;
    box-shadow:0 4px 10px rgba(0,0,0,.2);
}

.row{
    display:flex;
    justify-content:space-between;
    margin:12px 0;
    font-size:18px;
}

.status{
    font-size:22px;
    text-align:center;
    margin-bottom:20px;
    font-weight:bold;
}
